@import url('https://fonts.googleapis.com/css?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
   background-color: #fff;
   font-family: 'Roboto' , sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0;
   overflow-x: hidden;
}

.h1 {
  margin: 10px;
}

.boxs {
    background-color: steelblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.boxs:nth-of-type(even) {
  transform: translateX(-200%);
}

.boxs.show {
  transform: translateX(0);
}