@import url('https://fonts.googleapis.com/css?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
   background-color: blue; 
   font-family: 'Roboto' , sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
   padding: 20px;
}

.container {
background-color: white;
max-width: 100%;
width: 800px;
text-align: center;
border-radius: 10px;
padding: 50px 20px;
}

h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

.joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    max-width: 600px;
    margin: 50px auto;
}

.btn {
    background-color: blueviolet;
    color: #ffff;
    border: 0;
    border-radius: 10px;
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}
